<footer class="bs-footer">
<div class="container" >
    <p>本 博 客 基 于 <a target="_blank" href="http://www.the5fire.com"><strong>the5fire</strong></a></p>
    <p>CC BY-NC-SA 3.0</p>
    <p>
    Powered by <a href="http://www.djangoproject.com" target="_blank">Django</a>. 
    </p>
    <p>
    当 前 {{ online_num }} 人 在 线, 表 示 毫 无 压 力
    {% if online_num > 50 %}
    <strong>囧~</strong>
    {% endif %}
    {% if online_num < 10 %}
    <strong>汗~</strong>
    {% endif %}
    </p>
    <p>本 页 面 加 载 耗 时 :<!!LOAD_TIMES!!>s</p>
    <p>
        <a href="/sitemap.xml">网 站 地 图</a>
    </p>    
</div>
</footer>
