<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} 河图洛书</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block desc %}关于编程python心得、工作经验–人生苦短，我用python{% endblock %}">
        <meta name="keywords" content="{% block keywords %}python,linux,vim,web开发{% endblock %}">
        <meta name="author" content="Memory">
        <meta name="baidu-site-verification" content="L1tGNksWV2rt8zho" />
        <meta name="google-site-verification" content="DBmuxv3lJezFBdzrzoueLXVbY6gJ6cdbR1mroGVRiNQ" />
        <link rel="pingback" href="/xmlrpc/" />
        <link rel="shortcut icon" href="/static/gongjin.png" type="image/x-icon" />

        <link href="/static/bootstrap/css/bootstrap3.0.min.css" rel="stylesheet">
        <link href="/static/bootstrap/css/docs.css" rel="stylesheet">
        <link href="/static/blog/css/style.css" rel="stylesheet">
        {%  block extend_style %}{% endblock %}
    </head>
    <body style="position: static;" data-twttr-rendered="true"> 
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".bs-navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="mm" >
                                <a href="/" >河图洛书</a>
                            </li>
                                {% for page in pages %}
                            <li class="mm">
                                {% if page.link %}
                                <a href="{{ page.link }}">{{ page.title }}</a>
                                {% else %}
                                <a href="/{{ page.alias }}/">{{ page.title }}</a>
                                {% endif %}
                            </li>
                                {% endfor %}
                            </ul>
                            <form class="navbar-form pull-right" method="get" action="/" style="margin-right: 20px">
                                <input class="form-control" name="s" value="搜一搜又不会怀孕~~" onfocus="if(this.value=='搜一搜又不会怀孕~~'){this.value=''}" id="s" style="width: 200px; font-size:13px; color:#;" type="text">
                             <button type="submit" class="btn btn-default" style="color:#00bfff; font-weight:bold;">Search</button>                               </form>
                    </div>
                </div>
                <div class="nn">
                    <a target="_blank" href="/rss"><img src="/static/feed.png"></a>
                    <a target="_blank" href="http://weibo.com/u/2748900435"><img src="/static/weibo.png"></a>
                    <a target="_blank" href="http://www.douban.com/people/83262705"><img src="/static/douban.png"></a>
                    
                    <a target="_blank" href="http://www.guokr.com/i/1350953994"><img src="/static/guoke.png"></a>
               </div>
        </div>
        <div class="bs-header">
            <div class="container mylogo">
                <a href="/" style="margin-left: 100px;"></a>
                <h4 style="margin-left:120px; color: #762E2E">关注 Python Docker Linux Django</h4>
                    <ul class="nav nav-tabs" style="margin-left:80px; font-weight:bold">
                        {% for category in categories %}
                        {% if category.is_nav %}
                        <li class="dropdown"><a href="/category/{{ category.alias }}/">{{ category.name }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
            </div>
        </div>   
        <div id="content" class="container">
            <div class="row">
                <div id="main" class="col-lg-9"> 
                    {% block main %}{% endblock %}
                </div>

                <div class="sidebar col-lg-3">
                    {% include "includes/sidebar.html" %}
                </div>
            </div>

            <div class="">
                其他分类：
                <ul class="nav nav-pills">
                    {% for category in categories %}
                    {% if not category.is_nav %}
                    <li><a href="/category/{{ category.alias }}/">{{ category.name }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        

        {% include "includes/footer.html" %}
    </body>
</html>
