body {
    font-family: 'Helvetica Neue', Arial, "Hiragino Sans GB", sans-serif;
}
a:hover{
text-decoration:none;
color:#00bfff;
}
.container {
    max-width: 980px;
}
.container h1 a:hover{
color:red;
}
.container h1, .container h5{
    margin-left: 90px;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    position: absolute;
}
.bs-header {
    font-size: 16px;
    padding: 10px 10px 0px;
}

.bs-header h1 {
    font-size: 30px;
}

p {
    line-height: 24px;
}

.caption h3 a {
    color: #333;
}


/* 正文 */
.content h1 {
    font-size: 25px;
}

.content {
    padding: 20px 40px 0 0;
    font-size: 15px;
}

.content p {
    padding: 5px 0px;
    margin: 0;
    line-height: 26px;
}

.content img {
    margin:0 auto;
    display: table-cell;
    max-width: 90%;
}

.info {
    color: #999;
}
/*侧栏*/
.sidebar h3 {
    font-size: 18px;
}
.sidebar ul.links {
    -webkit-padding-start: 0;
}
.sidebar ul.links li {
    margin-left:-40px;
    list-style: none;
    padding-bottom: 5px;
    width:100%; white-space:nowrap; word-break:keep-all; overflow:hidden; text-overflow:ellipsis;
}

@media screen and (-webkit-min-device-pixel-ratio:0){
.sidebar ul.links li {
    padding-left: 40px;
}
}

.sidebar ul.ds-recent-comments {
    margin-left: -40px;
}

.under_line {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 5px;
}
/*code*/
.docutils {
    color: #028DFA;
}
.mylogo{
background: url("/static/icon2.jpg") no-repeat;
margin-left:100px;
} 

.detail{
margin-left:-70px;
}

.mm{
font-size:17px;
}

h3.under_line a:hover{
color: #00bfff;
}

.nn{
float:right;
margin-right:120px;
margin-top:-40px;
}

.nn a{
margin-right:10px;
}

.nn a img{
width:30px;
height:30px;
position: relative;
}

