body {
    font-family: 'Helvetica Neue', Arial, "Hiragino Sans GB", sans-serif;
}
a{
    color:#762E2E;
}
a:hover{
text-decoration:none;
    color: #d59392;
}
.container {
    max-width: 1060px;
}

.container p{
    color: #762E2E;
}


.navbar-fixed-top, .navbar-fixed-bottom {
    position: absolute;
    background-color: #762E2E;
    border-color: rgba(126, 49, 49, 0.43);

}

.bs-header {
    font-size: 16px;
    padding: 10px 10px 0;
}

.bs-header h1 {
    margin-left:100px;
    font-size: 30px;
}

p {
    line-height: 24px;
}

.caption h3 a {  
    color: #333;
}


/* 正文 */
.content h1 {
    font-size: 25px;
}

.content {
    
    padding: 20px 40px 0 0;
    font-size: 15px;
}

.content p {
    padding: 5px 0px;
    margin: 0;
    line-height: 26px;
}

.content img {
    margin:0 auto;
    display: table-cell;
    max-width: 90%;
}

.info {
    color: #999;
}

/*code*/
.docutils {
    color: #028DFA;
}
.mylogo{
background: url("/static/gongjin.png") no-repeat;
margin-left:100px;
}

.mm{
font-size:17px;
}

h3.under_line a:hover{
color: #00bfff;
}

.nn{
float:right;
margin-right:10px;
margin-top:-40px;
}

.nn a{
margin-right:10px;
}

.nn a img{
width:30px;
height:30px;
position: relative;
}

/*侧栏*/
.sidebar h3 {
    font-size: 18px;
}
.sidebar ul.links {
    -webkit-padding-start: 0;
}
.sidebar ul.links li {
    margin-left:-40px;
    list-style: none;
    padding-bottom: 5px;
    width:100%; white-space:nowrap; word-break:keep-all; overflow:hidden; text-overflow:ellipsis;
}

@media screen and (-webkit-min-device-pixel-ratio:0){
.sidebar ul.links li {
    padding-left: 40px;
}
}

.sidebar ul.ds-recent-comments {
    margin-left: -40px;
}

.under_line {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 5px;
}

pre {
    font-family: monospace, serif ;
    background-color:#003e3e;
    border-radius: 10px;
    color: #C6A300 !important;
    font-size: 14px;
}

.name {
    color:#ffffff;
}

.name.namespace {
    color:#ffffff;
}

.operator {
    color: #c7254e;
}

.name.class {
    color: #c7254e;
}

.punctuation {
    color:#ffffff;
}

.name.function {
    color: #82D900;
}

.operator.word {
    color: #4DFFFF !important;
}

.literal.string.doc {
    color:#5B5B5B !important;
}

.literal.number.integer {
    color:#563d7c !important;
}
